API_ID=31937960
API_HASH=fb9a982778ab2add3321bc6b4507d1fc
SESSION_STRING=BQHnVagAMLqjHKyk2OKDdZpUqSXK4JWN3lPzV06u0_-ZxAq_LLxz_oSN8VqtdI1Vh9vH_MvbYAcEEAGwyazivSVa-zLY6Ge4cDB50NxxEbNoQPXR8zaUj9HAGO5ZACcrn_TAjE9X86wdG8vO3EyvgOEZ-L73-SH-NE3BHgKmb1PkdXp1D481fuw46EoG3Xnp6kKGyiAuTRCnwN5RV6iUtymaGrUyrFHXuVbSXJxXulnP62scogNyGmzLsh2bE0fdylJ6ObatCxgpc4mgc1SNoYh6Y0PaFtVaoHgwoo2_2BMEBHWYQbYf7XTopKOf72pbBIsg3CY8QxD4i8O73e1QhZ2MElAhpwAAAAHx4cU3AA
DATABASE_URL=postgresql://neondb_owner:npg_G6BZSCpNiu4f@ep-white-queen-a1f69gr2-pooler.ap-southeast-1.aws.neon.tech/testing%20project?sslmode=require&channel_binding=require
CONFIRMATION_GROUP_ID=-1003992807485
LOG_GROUP_ID=-1004297932153
PUBLIC_GROUP_ID=-1003798566723
